---
---
.logo {
    height: 40px;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand h5 {
    margin-bottom: 0;
    line-height: 1;
  }

@import "portfolYOU";